cloudpathlib==0.20.0
decorator==5.1.1
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi==0.115.5
google-api-core==2.23.0
google-auth==2.36.0
google-cloud==0.34.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.66.0
Jinja2==3.1.4
matplotlib-inline==0.1.7
nltk==3.9.1
numpy==2.0.2
pandas==2.2.3
plotly==5.24.1
pydantic==2.10.2
pydantic_core==2.27.1
spacy==3.8.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
uvicorn==0.32.1